In [54]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [55]:
# Creating RDD's

movieRDD = sc.textFile("/Users/pravinkumar/Documents/Spark/testData/Movie-Rating\ Query\ Exercises/Movie.txt")
ratingRDD = sc.textFile("/Users/pravinkumar/Documents/Spark/testData/Movie-Rating\ Query\ Exercises/Rating.txt")
reviewerRDD = sc.textFile("/Users/pravinkumar/Documents/Spark/testData/Movie-Rating\ Query\ Exercises/Reviewer.txt")

for i in movieRDD.take(2): print(i)
for i in ratingRDD.take(2): print(i)
for i in reviewerRDD.take(2): print(i)

101,Gone with the Wind,1939,Victor Fleming
102,Star Wars,1977,George Lucas
201,101,2,2011-01-22
201,101,4,2011-01-27
201,Sarah Martinez
202,Daniel Lewis

In [56]:
# Creating DF's
from pyspark.sql import Row
movieDF = movieRDD.map(lambda rec: rec.split(",")).map(lambda rec: Row(mID = rec[0], title = rec[1], year = rec[2], \
                                                                       director = rec[3])).toDF()
reviewerDF = reviewerRDD.map(lambda rec: rec.split(",")).map(lambda rec: Row(rID = rec[0], name = rec[1])).toDF()
ratingDF = ratingRDD.map(lambda rec: rec.split(",")).map(lambda rec: Row(rID = rec[0], mID = rec[1], stars = rec[2], ratingDate = rec[3])).toDF()

movieDF.registerTempTable("movie")
reviewerDF.registerTempTable("reviewer")
ratingDF.registerTempTable("rating")

movieDF.limit(2).show()
ratingDF.limit(2).show()
reviewerDF.limit(2).show()

+--------------+---+------------------+----+
|      director|mID|             title|year|
+--------------+---+------------------+----+
|Victor Fleming|101|Gone with the Wind|1939|
|  George Lucas|102|         Star Wars|1977|
+--------------+---+------------------+----+

+---+---+----------+-----+
|mID|rID|ratingDate|stars|
+---+---+----------+-----+
|101|201|2011-01-22|    2|
|101|201|2011-01-27|    4|
+---+---+----------+-----+

+--------------+---+
|          name|rID|
+--------------+---+
|Sarah Martinez|201|
|  Daniel Lewis|202|
+--------------+---+

In [6]:
# Here's the schema: 

# Movie ( mID, title, year, director ) 
# English: There is a movie with ID number mID, a title, a release year, and a director. 

# Reviewer ( rID, name ) 
# English: The reviewer with ID number rID has a certain name. 

# Rating ( rID, mID, stars, ratingDate ) 
# English: The reviewer rID gave the movie mID a number of stars rating (1-5) on a certain ratingDate.

In [71]:
# Query 01 - Find the titles of all movies directed by Steven Spielberg.

Query01RDD = movieRDD.map(lambda rec: rec.split(",")).filter(lambda rec: rec[3] == "Steven Spielberg").\
map(lambda rec: rec[1])
for i in Query01RDD.collect(): print(i)
    
sqlContext.sql("select m.title from movie m where m.director = 'Steven Spielberg'").show()

E.T.
Raiders of the Lost Ark
+--------------------+
|               title|
+--------------------+
|                E.T.|
|Raiders of the Lo...|
+--------------------+

In [ ]:
# Query 02 - Find all years that have a movie that received a rating of 4 or 5, and sort them in increasing order.