In [54]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [55]:
# Creating RDD's

movieRDD = sc.textFile("/Users/pravinkumar/Documents/Spark/testData/Movie-Rating\ Query\ Exercises/Movie.txt")
ratingRDD = sc.textFile("/Users/pravinkumar/Documents/Spark/testData/Movie-Rating\ Query\ Exercises/Rating.txt")
reviewerRDD = sc.textFile("/Users/pravinkumar/Documents/Spark/testData/Movie-Rating\ Query\ Exercises/Reviewer.txt")

for i in movieRDD.take(2): print(i)
for i in ratingRDD.take(2): print(i)
for i in reviewerRDD.take(2): print(i)

101,Gone with the Wind,1939,Victor Fleming
102,Star Wars,1977,George Lucas
201,101,2,2011-01-22
201,101,4,2011-01-27
201,Sarah Martinez
202,Daniel Lewis

In [56]:
# Creating DF's
from pyspark.sql import Row
movieDF = movieRDD.map(lambda rec: rec.split(",")).map(lambda rec: Row(mID = rec[0], title = rec[1], year = rec[2], \
                                                                       director = rec[3])).toDF()
reviewerDF = reviewerRDD.map(lambda rec: rec.split(",")).map(lambda rec: Row(rID = rec[0], name = rec[1])).toDF()
ratingDF = ratingRDD.map(lambda rec: rec.split(",")).map(lambda rec: Row(rID = rec[0], mID = rec[1], stars = rec[2], ratingDate = rec[3])).toDF()

movieDF.registerTempTable("movie")
reviewerDF.registerTempTable("reviewer")
ratingDF.registerTempTable("rating")

movieDF.limit(2).show()
ratingDF.limit(2).show()
reviewerDF.limit(2).show()

+--------------+---+------------------+----+
|      director|mID|             title|year|
+--------------+---+------------------+----+
|Victor Fleming|101|Gone with the Wind|1939|
|  George Lucas|102|         Star Wars|1977|
+--------------+---+------------------+----+

+---+---+----------+-----+
|mID|rID|ratingDate|stars|
+---+---+----------+-----+
|101|201|2011-01-22|    2|
|101|201|2011-01-27|    4|
+---+---+----------+-----+

+--------------+---+
|          name|rID|
+--------------+---+
|Sarah Martinez|201|
|  Daniel Lewis|202|
+--------------+---+

In [6]:
# Here's the schema: 

# Movie ( mID, title, year, director ) 
# English: There is a movie with ID number mID, a title, a release year, and a director. 

# Reviewer ( rID, name ) 
# English: The reviewer with ID number rID has a certain name. 

# Rating ( rID, mID, stars, ratingDate ) 
# English: The reviewer rID gave the movie mID a number of stars rating (1-5) on a certain ratingDate.

In [71]:
# Query 01 - Find the titles of all movies directed by Steven Spielberg.

Query01RDD = movieRDD.map(lambda rec: rec.split(",")).filter(lambda rec: rec[3] == "Steven Spielberg").\
map(lambda rec: rec[1])
for i in Query01RDD.collect(): print(i)
    
sqlContext.sql("select m.title from movie m where m.director = 'Steven Spielberg'").show()

E.T.
Raiders of the Lost Ark
+--------------------+
|               title|
+--------------------+
|                E.T.|
|Raiders of the Lo...|
+--------------------+

In [96]:
# Query 02 - Find all years that have a movie that received a rating of 4 or 5, and sort them in increasing order.

def trim(x):
    return x[0:4]
Query02RDD = ratingRDD.map(lambda rec: rec.split(",")).filter(lambda rec: rec[2] == "4" or rec[2] == "5").\
filter(lambda rec: rec[3] != "null").map(lambda rec: int(trim(rec[3]))).distinct(numPartitions = 1)
for i in Query02RDD.collect(): print(i)

sqlContext.sql("select distinct SUBSTRING(r.ratingDate, 1, 4) AS year from rating r where stars in ('4', '5') and \
SUBSTRING(r.ratingDate, 1, 4) != 'null'").show()

2011
+----+
|year|
+----+
|2011|
|2011|
|2011|
|2011|
+----+

In [ ]:
# Query 03 - Find the titles of all movies that have no ratings.

In [ ]:
# Query 04 - Some reviewers didn't provide a date with their rating. 
# Find the names of all reviewers who have ratings with a NULL value for the date.

In [ ]:
# Query 05 - Write a query to return the ratings data in a more readable format: 
# reviewer name, movie title, stars, and ratingDate. Also, sort the data, 
# first by reviewer name, then by movie title, and lastly by number of stars.

In [ ]:
# Query 06 - For all cases where the same reviewer rated the same movie twice and gave it a higher 
# rating the second time, return the reviewer's name and the title of the movie.

In [ ]:
# Query 07 - For each movie that has at least one rating, find the highest number of stars that movie received. 
# Return the movie title and number of stars. Sort by movie title.

In [ ]:
# Query 08 - For each movie, return the title and the 'rating spread', that is, 
# the difference between highest and lowest ratings given to that movie. 
# Sort by rating spread from highest to lowest, then by movie title.

In [ ]:
# Query 09 - Find the difference between the average rating of movies released before 1980 
# and the average rating of movies released after 1980. (Make sure to calculate the average rating 
# for each movie, then the average of those averages for movies before 1980 and movies after. 
# Don't just calculate the overall average rating before and after 1980.)

In [ ]:
# Query 10 -

In [ ]:
# Query 11 -